.quickContactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark);
    padding: 2rem 1rem;
    height: 30vh;
}

.contactButton {
    padding: 1rem;
    background-color: var(--primary);
    color: var(--basic);
    border-radius: 4px;
    width: 65%;
    text-align: center;
    font-size: 18px;
    box-shadow: 2px 2px 4px var(--shadows);
}

.socialContainer {
    display: flex;
    width: 100%;
    justify-content: center;
}

.iconContainer {
    background-color: var(--primary);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 .5rem;
    box-shadow: 2px 2px 4px var(--shadows);
}

.socialContainer img {
    width: 30px;
}

