.commentCardContainer {
    padding: 2rem 2rem;
    border-radius: .5rem;
    background-color: var(--basic);
    box-shadow: 2px 2px 12px var(--shadows);
    width: 60vw;
    animation: slideInOut infinite 10s ease-in-out;
}

.commentBox {
    height: 20vh;
    border-bottom: 2px solid #bbb;
}

.text {
    line-height: 2;
}

.signatureContainer {
    padding: 1rem 0px;
    text-align: right;
    font-style: oblique;
    font-weight: bold;
}

@keyframes slideInOut {
    0% { transform: translateX(150%); } /* Slide in from right */
    10% { transform: translateX(0); } /* Hold in the center */
    90% { transform: translateX(0); }
    100% { transform: translateX(-150%); } /* Slide out to the left */
}