/* Banner */
.BannerSectionWrapper{
    width: 100%;
    height: 60%;
    overflow: hidden;
    position: relative;
}

.BannerVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
}

.BannerText {
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 80, 100, .3);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 2.5rem;
    box-sizing: border-box;
    text-align: center;
}

.SubHeader {
    color: var(--basic);
    margin-bottom: .5rem;
}

.MainHeading {
    font-size: 2.5rem;
    color: var(--basic);
    margin-bottom: 1.5rem;
    text-shadow: 2px 2px 6px var(--shadows);
}

@media only screen and (min-width: 1024px) {
    .BannerSectionWrapper {
        height: 100%;
    }
        
    .BannerText {
        justify-content: center;
    }
    
    .SubHeader {
        margin-bottom: .5rem;
    }
    
    .MainHeading {
        font-size: 4rem;
    }
}

/* Quick contact */
.QuickContactSectionWrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
}

.QuickContactBrick {
    background-color: var(--primary);
    padding: 1rem;
    box-sizing: border-box;
    border-radius: .5rem;
    margin-bottom: 1rem;
    box-shadow: 2px 2px 6px var(--shadows);
    text-align: center;
    color: var(--basic);
}

.SocialIconContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
}

.SocialIconChip {
    background-color: var(--primary);
    padding: .5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 6px var(--shadows);
}

.SocialIconChip img {
    width: 35px;
}

@media only screen and (min-width: 1024px) {
    .QuickContactSectionWrapper {
        display: none;
    }
}

/* Welcome section */

.WelcomeSectionWrapper {
    box-sizing: border-box;
    padding: 1rem 1rem;
    background-color: var(--primary);
}

.WelcomeSectionHeader {
    border-bottom: 2px solid var(--accent);
    margin-bottom: 2rem;
    padding-top: 1rem;
}

.WelcomeSectionHeader h1 {
    font-size: 1.5rem;
    color:var(--basic);
}

.WelcomeSectionBody {
    display: flex;
    flex-direction: column-reverse;
}

.WelcomeSectionText {
    padding: 0;
}

.WelcomeSectionText p {
    font-size: 1rem;
    color: var(--basic);
}

.WelcomeSectionBody img {
    border-radius: .5rem;
    width: 100%;
    margin-bottom: 1.5rem;
}

@media only screen and (min-width: 1024px) {
    .WelcomeSectionWrapper {
        padding: 0 10%;
        padding-bottom: 4rem;
        background-color: #fff;
    }

    .WelcomeSectionHeader {
        box-sizing: border-box;
        border-bottom: 2px solid var(--primary);
        padding-top: 2rem;
        margin-bottom: 4rem;
    }
    
    .WelcomeSectionHeader h1 {
        font-size: 2.5rem;
        color:var(--shadows);
    }

    .WelcomeSectionBody {
        display: flex;
        flex-direction: row;
    }

    .WelcomeSectionText {
        padding-right: 2rem;
        width: 50%;
    }

    .WelcomeSectionText p {
        font-size: 1.5rem;
        color: var(--shadows);
    }

    .WelcomeSectionBody img {
        margin: 0;
        max-width: 45%;
        height: auto;
        object-fit: cover;
    }
}

/* Offers */

.OffersSectionWrapper {
    box-sizing: border-box;
    padding: 1rem 1rem;
}

.OffersSectionHeader {
    box-sizing: border-box;
    border-bottom: 2px solid var(--primary);
    padding-top: 1rem;
    margin-bottom: 2rem;
}

.OffersSectionHeader h1{
    color: var(--shadows);
    font-size: 1.5rem;
}

.OffersSectionContainerBody {
    display: flex;
    margin-bottom: 2rem;
}

.OfferCard {
    flex: 0 1 calc((100% / 3) - 1rem);
    margin: .5rem;
    border-radius: .5rem;
    box-shadow: 2px 2px 5px var(--shadows);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--basic);
    padding-bottom: 2rem;
}

.OfferCardHeader {
    padding: .5rem;
}

.OfferCardHeader h1 {
    font-size: 1rem;
    color: var(--shadows);
}

.OfferCardBody {
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.OfferCardBody img {
    width: 50px;
    filter: drop-shadow(2px 2px 4px #333);
}

.OfferCardFooter {
    padding: .5rem;
    display: flex;
    justify-content: space-evenly;
}

.OfferCardFooter button {
    font-size: 12px;
    padding: 4px;
    width: 90%;
    background-color: #333;
}

.OffersSectionContainerBody2 {
    text-align: left;
}

.OffersSectionContainerFooter {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 1024px) {

    .OffersSectionWrapper {
        padding: 0 10%;
        padding-bottom: 4rem;
        background-color: #fff;
    }

    .OffersSectionHeader {
        box-sizing: border-box;
        border-bottom: 2px solid var(--primary);
        padding-top: 2rem;
        margin-bottom: 4rem;
    }
    
    .OffersSectionHeader h1{
        color: var(--shadows);
        font-size: 2.5rem;
    }

    .OffersSectionContainerBody {
        justify-content: space-around;
    }

    .OfferCard {
        flex: 0 1 25%;
        border-radius: .5rem;
        box-shadow: 2px 2px 5px var(--shadows);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .OfferCardHeader {
        padding: 1rem;
    }
    
    .OfferCardHeader h1 {
        font-size: 1.5rem;
        color: var(--shadows);
        padding-bottom: .5rem;
        border-bottom: 2px solid var(--primary);
    }
    
    .OfferCardBody {
        padding:  4rem .5rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .OfferCardBody img {
        width: 45%;
        filter: drop-shadow(2px 2px 3px #333);
    }
    
    .OfferCardFooter {
        padding: 1rem;
        display: flex;
        justify-content: space-evenly;
    }
    
    .OfferCardFooter button {
        font-size: 1rem;
        padding: .5rem;
        width: 40%;
        background-color: #333;
    }

    .OffersSectionContainerBody2 {
        margin-top: 2rem;
    }

    .OffersSectionContainerBody2 p {
        font-size: 1.5rem;
        text-align: center;
    }

    .OffersSectionContainerFooter button{
        padding: 1rem;
        font-size: 1.5rem;
        font-weight: bold;
        box-shadow: 2px 2px 4px var(--shadows);
    }

    .OffersSectionContainerFooter button:hover{
        background-color: var(--primary);
    }
}

/* Insurances */
.InsurancesSectionContainer {
    padding: 1rem;
    background-color: #fff;
}

.InsurancesSectionHeader {
    box-sizing: border-box;
    border-bottom: 2px solid var(--primary);
    margin-bottom: 2rem;
}

.InsurancesSectionHeader h1 {
    color: var(--shadows);
    font-size: 1.5rem;
}

.InsurancesSectionContainerBody {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
}

.InsurancesSectionContainerBodyText p{
    color: var(--shadows);
}

.LogoCard {
    box-sizing: border-box;
    border-radius: .5rem;
    width: 100%;
    box-shadow: 2px 2px 4px var(--shadows);
    padding: 2rem;
    margin-bottom: 2rem;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-self: center;
    background-color: #fff;
}

.LogoCard img {
    width: 100%;
}

@media only screen and (min-width: 1024px) {

    .InsurancesSectionContainer {
        padding: 0 10%;
        padding-bottom: 4rem;
    }

    .InsurancesSectionHeader {
        box-sizing: border-box;
        border-bottom: 2px solid var(--primary);
        padding-top: 2rem;
        margin-bottom: 4rem;
    }
    
    .InsurancesSectionHeader h1 {
        color: var(--shadows);
        font-size: 2.5rem;
    }

    .InsurancesSectionContainerBody {
        display: flex;
        flex-direction: row;
        padding: 0;
    }

    .InsurancesSectionContainerBodyText {
        width: 50%;
        padding-right: 2rem;
    }

    .InsurancesSectionContainerBodyText p {
        font-size: 1.5rem;
    }

    .InsurancesSectionContainerBodyCards {
        padding-left: 2rem;
        width: 50%;
    }

    .LogoCard img {
        width: 50%;
    }
}


/* Partners */
.PartnersSectionWrapper {
    padding: 1rem;
    margin-bottom: 2rem;
}

.PartnersSectionHeader {
    border-bottom: 2px solid var(--primary);
    padding-top: 1rem;
    margin-bottom: 2rem;
}

.PartnersSectionHeader h1 {
    color: var(--shadows);
    font-size: 1.5rem;
}

.PartnersSectionBody {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.ProductCard {
    flex: 0 1 calc(50% - 12px);
    height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 6px;
    box-shadow: 2px 2px 4px var(--shadows);
    border-radius: 1rem;
}

.PartnersLogo {
    width: 100px;
}

@media only screen and (min-width: 1024px) {

    .PartnersSectionWrapper {
        padding: 0 10%;
        padding-bottom: 4rem;
        background-color: #fff;
    }

    .PartnersSectionHeader {
        padding-top: 2rem;
        margin-bottom: 4rem;
        border-bottom: 2px solid var(--primary); 
    }
    
    .PartnersSectionHeader h1 {
        color: var(--shadows);
        font-size: 2.5rem;
    }

    .ProductCard {
        flex: 0 1 calc(25% - 2rem);
        height: 12rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1rem;
        box-shadow: 2px 2px 4px var(--shadows);
        border-radius: 1rem;
    }

    .PartnersLogo {
        width: 150px;
    }


}

/* Contact section */
.ContactSectionWrapper {
    padding: 1rem;
    background-image: linear-gradient(to bottom, var(--primary), var(--dark));
}

.ConctactSectionHeader {
    padding-top: 1rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid var(--accent);
}

.ConctactSectionHeader h1 {
    font-size: 1.5rem;
    color: var(--basic);
}

@media only screen and (min-width: 1024px) {
    .ContactSectionWrapper {
        margin: 0;
        padding: 0 10%;
        padding-bottom: 4rem;
        background-image: none;
        background-color: white;
    }

    .ConctactSectionHeader {
        padding-top: 2rem;
        margin-bottom: 4rem;
        border-bottom: 2px solid var(--primary); 
    }
    
    .ConctactSectionHeader h1 {
        color: var(--shadows);
        font-size: 2.5rem;
    }
}













