* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #088F75;
  --basic: #F9EFED;
  --accent: #DEB734;
  --dark: #1f1f1f;
  --shadows: #0a0a0a;
}

/* Layout */

.layout {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

/* Anchors */

a {
  color: inherit;
  text-decoration: none;
}

